<body>
    <div class="banner-container">
        <div class="series-banner">
            <img class="img-banner" src="{{ '/assets/images/novel_cover.jpg' | relative_url }}" alt="cover">
        </div>
        
        <div class="content-area">
            <div class="series-image">
                <img class="series-cover" src="{{ '/assets/images/LHAHSHD.jpg' | relative_url }}" alt="LHAHS">
            </div>
            
            <div class="series-info">
                <div class="novel-title">
                    <p> The Legendary Hero is an Academy Honors Student </p>
                </div>
                <div class="series-description">
                    {{ content }}
                </div>
            </div>
        </div>
    </div>
</body>